<script src="https://cdn.tailwindcss.com"></script>
<novo-spinner inverse style="position:fixed;top:50%;left:50%;" *ngIf="loading && !error"></novo-spinner>
<div class="error-state" *ngIf="error">
  <i class="bhi-caution"></i>
  <span>{{ 'ERROR_HAS_OCCURED' | translate }}</span>
</div>
<div class="frame" [ngStyle]="{display: loading || error ? 'none': 'flex'}">
    <app-sidebar (newFilter)="onSidebarFilter($event)" [display]="displaySidebar" (toggleSidebar)="toggleSidebar($event)" [ngStyle]="sidebarCss"></app-sidebar>
    
        <app-job-list style="height:80vh;" [filterCount]="filterCount" [filter]="listFilter" [sidebarVisible]="displaySidebar" (displaySidebar)="toggleSidebar($event)" (showLoading)="handleListLoad($event)" (showError)="handleError($event)"></app-job-list>
    
</div>

